.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.filters {
  margin-bottom: 20px;
}

.cart {
  float: right;
  width: 30%;
  margin: 0 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.cart h2 {
  margin-top: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.item img {
  max-width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.star {
  display: inline;
  position: relative;
  font-size: 15px;
  color: #ddd;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: #f80;
}

.star-empty {
  color: #ccc; /* Color for empty stars */
}

.header_main {
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 1000;
  top: 0;
  height: 50;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}

.home_icon {
  margin-right: 20px;
  &:hover {
    cursor: pointer;
  }
}
